.nat-padding {
  padding: var(--natural-default-spacing) !important;
}

.nat-padding-horizontal {
  padding-inline: var(--natural-default-spacing) !important;
}

.nat-padding-bottom {
  padding-bottom: var(--natural-default-spacing) !important;
}

.nat-padding-top {
  padding-top: var(--natural-default-spacing) !important;
}

.nat-padding-right {
  padding-right: var(--natural-default-spacing) !important;
}

.nat-padding-left {
  padding-left: var(--natural-default-spacing) !important;
}

.nat-padding-vertical {
  padding-block: var(--natural-default-spacing) !important;
}

.nat-no-padding {
  padding: 0 !important;
}

.nat-no-padding-vertical {
  padding-block: 0 !important;
}

.nat-no-padding-horizontal {
  padding-inline: 0 !important;
}

.nat-no-padding-right {
  padding-right: 0 !important;
}

.nat-no-padding-top {
  padding-top: 0 !important;
}

.nat-no-padding-left {
  padding-left: 0 !important;
}

.nat-no-padding-bottom {
  padding-bottom: 0 !important;
}

.nat-margin {
  margin: var(--natural-default-spacing) !important;
}

.nat-margin-top {
  margin-top: var(--natural-default-spacing) !important;
}

.nat-margin-bottom {
  margin-bottom: var(--natural-default-spacing) !important;
}

.nat-margin-right {
  margin-right: var(--natural-default-spacing) !important;
}

.nat-margin-left {
  margin-left: var(--natural-default-spacing) !important;
}

.nat-margin-horizontal {
  margin-inline: var(--natural-default-spacing) !important;
}

.nat-margin-vertical {
  margin-block: var(--natural-default-spacing) !important;
}

.nat-no-margin {
  margin: 0 !important;
}

.nat-no-margin-vertical {
  margin-block: 0 !important;
}

.nat-no-margin-horizontal {
  margin-inline: 0 !important;
}

.nat-no-margin-right {
  margin-right: 0 !important;
}

.nat-no-margin-top {
  margin-top: 0 !important;
}

.nat-no-margin-left {
  margin-left: 0 !important;
}

.nat-no-margin-bottom {
  margin-bottom: 0 !important;
}

/**
Get from starting size/breakpoint to ending $size/breakpoint (excluding it).
 */
.nat-fill {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.nat-wrap {
  flex-wrap: wrap;
}

.nat-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.nat-center {
  align-items: center;
  justify-content: center;
}

.nat-vertical {
  display: flex;
  flex-direction: column;
}
.nat-vertical.nat-top {
  justify-content: flex-start;
}
.nat-vertical.nat-bottom {
  justify-content: flex-end;
}
.nat-vertical.nat-left {
  align-items: flex-start;
}
.nat-vertical.nat-right {
  align-items: flex-end;
}
.nat-vertical.nat-align {
  align-items: center;
}
.nat-vertical.nat-distribute {
  justify-content: space-between;
}
.nat-vertical > .nat-expand {
  flex: 1 1 0.000000001px;
}
.nat-vertical > .nat-expand-20 {
  max-height: 20%;
}
.nat-vertical > .nat-expand-25 {
  max-height: 25%;
}
.nat-vertical > .nat-expand-33 {
  max-height: 33%;
}
.nat-vertical > .nat-expand-50 {
  max-height: 50%;
}
.nat-vertical > .nat-expand-66 {
  max-height: 66%;
}
.nat-vertical > .nat-expand-75 {
  max-height: 75%;
}
@media screen and (min-width: 600px) {
  .nat-vertical > .nat-sm-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-vertical > .nat-sm-expand-20 {
    max-height: 20%;
  }
  .nat-vertical > .nat-sm-expand-25 {
    max-height: 25%;
  }
  .nat-vertical > .nat-sm-expand-33 {
    max-height: 33%;
  }
  .nat-vertical > .nat-sm-expand-50 {
    max-height: 50%;
  }
  .nat-vertical > .nat-sm-expand-66 {
    max-height: 66%;
  }
  .nat-vertical > .nat-sm-expand-75 {
    max-height: 75%;
  }
}
@media screen and (min-width: 960px) {
  .nat-vertical > .nat-md-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-vertical > .nat-md-expand-20 {
    max-height: 20%;
  }
  .nat-vertical > .nat-md-expand-25 {
    max-height: 25%;
  }
  .nat-vertical > .nat-md-expand-33 {
    max-height: 33%;
  }
  .nat-vertical > .nat-md-expand-50 {
    max-height: 50%;
  }
  .nat-vertical > .nat-md-expand-66 {
    max-height: 66%;
  }
  .nat-vertical > .nat-md-expand-75 {
    max-height: 75%;
  }
}
@media screen and (min-width: 1280px) {
  .nat-vertical > .nat-lg-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-vertical > .nat-lg-expand-20 {
    max-height: 20%;
  }
  .nat-vertical > .nat-lg-expand-25 {
    max-height: 25%;
  }
  .nat-vertical > .nat-lg-expand-33 {
    max-height: 33%;
  }
  .nat-vertical > .nat-lg-expand-50 {
    max-height: 50%;
  }
  .nat-vertical > .nat-lg-expand-66 {
    max-height: 66%;
  }
  .nat-vertical > .nat-lg-expand-75 {
    max-height: 75%;
  }
}
@media screen and (min-width: 1920px) {
  .nat-vertical > .nat-xl-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-vertical > .nat-xl-expand-20 {
    max-height: 20%;
  }
  .nat-vertical > .nat-xl-expand-25 {
    max-height: 25%;
  }
  .nat-vertical > .nat-xl-expand-33 {
    max-height: 33%;
  }
  .nat-vertical > .nat-xl-expand-50 {
    max-height: 50%;
  }
  .nat-vertical > .nat-xl-expand-66 {
    max-height: 66%;
  }
  .nat-vertical > .nat-xl-expand-75 {
    max-height: 75%;
  }
}

.nat-horizontal {
  display: flex;
  flex-direction: row;
}
.nat-horizontal.nat-top {
  align-items: flex-start;
}
.nat-horizontal.nat-bottom {
  align-items: flex-end;
}
.nat-horizontal.nat-align {
  align-items: center;
}
.nat-horizontal.nat-left {
  justify-content: flex-start;
}
.nat-horizontal.nat-right {
  justify-content: flex-end;
}
.nat-horizontal.nat-distribute {
  justify-content: space-between;
}
.nat-horizontal > .nat-expand {
  flex: 1 1 0.000000001px;
}
.nat-horizontal > .nat-expand-20 {
  max-width: 20%;
}
.nat-horizontal > .nat-expand-25 {
  max-width: 25%;
}
.nat-horizontal > .nat-expand-33 {
  max-width: 33%;
}
.nat-horizontal > .nat-expand-50 {
  max-width: 50%;
}
.nat-horizontal > .nat-expand-66 {
  max-width: 66%;
}
.nat-horizontal > .nat-expand-75 {
  max-width: 75%;
}
@media screen and (min-width: 600px) {
  .nat-horizontal > .nat-sm-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-horizontal > .nat-sm-expand-20 {
    max-width: 20%;
  }
  .nat-horizontal > .nat-sm-expand-25 {
    max-width: 25%;
  }
  .nat-horizontal > .nat-sm-expand-33 {
    max-width: 33%;
  }
  .nat-horizontal > .nat-sm-expand-50 {
    max-width: 50%;
  }
  .nat-horizontal > .nat-sm-expand-66 {
    max-width: 66%;
  }
  .nat-horizontal > .nat-sm-expand-75 {
    max-width: 75%;
  }
}
@media screen and (min-width: 960px) {
  .nat-horizontal > .nat-md-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-horizontal > .nat-md-expand-20 {
    max-width: 20%;
  }
  .nat-horizontal > .nat-md-expand-25 {
    max-width: 25%;
  }
  .nat-horizontal > .nat-md-expand-33 {
    max-width: 33%;
  }
  .nat-horizontal > .nat-md-expand-50 {
    max-width: 50%;
  }
  .nat-horizontal > .nat-md-expand-66 {
    max-width: 66%;
  }
  .nat-horizontal > .nat-md-expand-75 {
    max-width: 75%;
  }
}
@media screen and (min-width: 1280px) {
  .nat-horizontal > .nat-lg-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-horizontal > .nat-lg-expand-20 {
    max-width: 20%;
  }
  .nat-horizontal > .nat-lg-expand-25 {
    max-width: 25%;
  }
  .nat-horizontal > .nat-lg-expand-33 {
    max-width: 33%;
  }
  .nat-horizontal > .nat-lg-expand-50 {
    max-width: 50%;
  }
  .nat-horizontal > .nat-lg-expand-66 {
    max-width: 66%;
  }
  .nat-horizontal > .nat-lg-expand-75 {
    max-width: 75%;
  }
}
@media screen and (min-width: 1920px) {
  .nat-horizontal > .nat-xl-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-horizontal > .nat-xl-expand-20 {
    max-width: 20%;
  }
  .nat-horizontal > .nat-xl-expand-25 {
    max-width: 25%;
  }
  .nat-horizontal > .nat-xl-expand-33 {
    max-width: 33%;
  }
  .nat-horizontal > .nat-xl-expand-50 {
    max-width: 50%;
  }
  .nat-horizontal > .nat-xl-expand-66 {
    max-width: 66%;
  }
  .nat-horizontal > .nat-xl-expand-75 {
    max-width: 75%;
  }
}

.nat-gap {
  gap: var(--natural-default-spacing);
}
.nat-gap-horizontal {
  column-gap: var(--natural-default-spacing);
}
.nat-gap-vertical {
  row-gap: var(--natural-default-spacing);
}
.nat-gap-0 {
  gap: 0px;
}
.nat-gap-horizontal-0 {
  column-gap: 0px;
}
.nat-gap-vertical-0 {
  row-gap: 0px;
}
.nat-gap-5 {
  gap: 5px;
}
.nat-gap-horizontal-5 {
  column-gap: 5px;
}
.nat-gap-vertical-5 {
  row-gap: 5px;
}
.nat-gap-10 {
  gap: 10px;
}
.nat-gap-horizontal-10 {
  column-gap: 10px;
}
.nat-gap-vertical-10 {
  row-gap: 10px;
}
.nat-gap-15 {
  gap: 15px;
}
.nat-gap-horizontal-15 {
  column-gap: 15px;
}
.nat-gap-vertical-15 {
  row-gap: 15px;
}
.nat-gap-20 {
  gap: 20px;
}
.nat-gap-horizontal-20 {
  column-gap: 20px;
}
.nat-gap-vertical-20 {
  row-gap: 20px;
}
.nat-gap-30 {
  gap: 30px;
}
.nat-gap-horizontal-30 {
  column-gap: 30px;
}
.nat-gap-vertical-30 {
  row-gap: 30px;
}

/**
All nat-expand and nat-xx-expand is border box
 */
[class*=-expand] {
  box-sizing: border-box;
}

/**
All no 100% nat-expand-xx and nat-xx-expand-yy
 */
[class*=expand-] {
  flex: 1 1 100%;
}

.nat-expand {
  flex: 1 1 0.000000001px;
}

.nat-expand-no-collapse {
  flex: 1 0 auto;
}

.nat-no-collapse {
  min-width: fit-content;
}

.nat-no-expand {
  flex-grow: 0;
}

/* attribute selector allows to abstract gap sizes nat-gap-15 */
[class*=nat-horizontal][class*=nat-gap] > * {
  margin-right: 0 !important;
}

[class*=nat-vertical][class*=nat-gap] > * {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 600px) {
  .nat-sm-vertical {
    display: flex;
    flex-direction: column;
  }
  .nat-sm-vertical.nat-sm-top {
    justify-content: flex-start;
  }
  .nat-sm-vertical.nat-sm-bottom {
    justify-content: flex-end;
  }
  .nat-sm-vertical.nat-sm-left {
    align-items: flex-start;
  }
  .nat-sm-vertical.nat-sm-right {
    align-items: flex-end;
  }
  .nat-sm-vertical.nat-sm-align {
    align-items: center;
  }
  .nat-sm-vertical.nat-sm-distribute {
    justify-content: space-between;
  }
  .nat-sm-vertical > .nat-sm-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-sm-vertical > .nat-sm-expand-20 {
    max-height: 20%;
  }
  .nat-sm-vertical > .nat-sm-expand-25 {
    max-height: 25%;
  }
  .nat-sm-vertical > .nat-sm-expand-33 {
    max-height: 33%;
  }
  .nat-sm-vertical > .nat-sm-expand-50 {
    max-height: 50%;
  }
  .nat-sm-vertical > .nat-sm-expand-66 {
    max-height: 66%;
  }
  .nat-sm-vertical > .nat-sm-expand-75 {
    max-height: 75%;
  }
  .nat-sm-horizontal {
    display: flex;
    flex-direction: row;
  }
  .nat-sm-horizontal.nat-sm-top {
    align-items: flex-start;
  }
  .nat-sm-horizontal.nat-sm-bottom {
    align-items: flex-end;
  }
  .nat-sm-horizontal.nat-sm-align {
    align-items: center;
  }
  .nat-sm-horizontal.nat-sm-left {
    justify-content: flex-start;
  }
  .nat-sm-horizontal.nat-sm-right {
    justify-content: flex-end;
  }
  .nat-sm-horizontal.nat-sm-distribute {
    justify-content: space-between;
  }
  .nat-sm-horizontal > .nat-sm-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-sm-horizontal > .nat-sm-expand-20 {
    max-width: 20%;
  }
  .nat-sm-horizontal > .nat-sm-expand-25 {
    max-width: 25%;
  }
  .nat-sm-horizontal > .nat-sm-expand-33 {
    max-width: 33%;
  }
  .nat-sm-horizontal > .nat-sm-expand-50 {
    max-width: 50%;
  }
  .nat-sm-horizontal > .nat-sm-expand-66 {
    max-width: 66%;
  }
  .nat-sm-horizontal > .nat-sm-expand-75 {
    max-width: 75%;
  }
  .nat-sm-gap {
    gap: var(--natural-default-spacing);
  }
  .nat-sm-gap-horizontal {
    column-gap: var(--natural-default-spacing);
  }
  .nat-sm-gap-vertical {
    row-gap: var(--natural-default-spacing);
  }
  .nat-sm-gap-0 {
    gap: 0px;
  }
  .nat-sm-gap-horizontal-0 {
    column-gap: 0px;
  }
  .nat-sm-gap-vertical-0 {
    row-gap: 0px;
  }
  .nat-sm-gap-5 {
    gap: 5px;
  }
  .nat-sm-gap-horizontal-5 {
    column-gap: 5px;
  }
  .nat-sm-gap-vertical-5 {
    row-gap: 5px;
  }
  .nat-sm-gap-10 {
    gap: 10px;
  }
  .nat-sm-gap-horizontal-10 {
    column-gap: 10px;
  }
  .nat-sm-gap-vertical-10 {
    row-gap: 10px;
  }
  .nat-sm-gap-15 {
    gap: 15px;
  }
  .nat-sm-gap-horizontal-15 {
    column-gap: 15px;
  }
  .nat-sm-gap-vertical-15 {
    row-gap: 15px;
  }
  .nat-sm-gap-20 {
    gap: 20px;
  }
  .nat-sm-gap-horizontal-20 {
    column-gap: 20px;
  }
  .nat-sm-gap-vertical-20 {
    row-gap: 20px;
  }
  .nat-sm-gap-30 {
    gap: 30px;
  }
  .nat-sm-gap-horizontal-30 {
    column-gap: 30px;
  }
  .nat-sm-gap-vertical-30 {
    row-gap: 30px;
  }
  .nat-sm-expand {
    flex: 1 1 0.000000001px;
  }
  [class*=nat-sm-horizontal][class*=nat-sm-gap] > * {
    margin-right: 0 !important;
  }
  [class*=nat-sm-vertical][class*=nat-sm-gap] > * {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 960px) {
  .nat-md-vertical {
    display: flex;
    flex-direction: column;
  }
  .nat-md-vertical.nat-md-top {
    justify-content: flex-start;
  }
  .nat-md-vertical.nat-md-bottom {
    justify-content: flex-end;
  }
  .nat-md-vertical.nat-md-left {
    align-items: flex-start;
  }
  .nat-md-vertical.nat-md-right {
    align-items: flex-end;
  }
  .nat-md-vertical.nat-md-align {
    align-items: center;
  }
  .nat-md-vertical.nat-md-distribute {
    justify-content: space-between;
  }
  .nat-md-vertical > .nat-md-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-md-vertical > .nat-md-expand-20 {
    max-height: 20%;
  }
  .nat-md-vertical > .nat-md-expand-25 {
    max-height: 25%;
  }
  .nat-md-vertical > .nat-md-expand-33 {
    max-height: 33%;
  }
  .nat-md-vertical > .nat-md-expand-50 {
    max-height: 50%;
  }
  .nat-md-vertical > .nat-md-expand-66 {
    max-height: 66%;
  }
  .nat-md-vertical > .nat-md-expand-75 {
    max-height: 75%;
  }
  .nat-md-horizontal {
    display: flex;
    flex-direction: row;
  }
  .nat-md-horizontal.nat-md-top {
    align-items: flex-start;
  }
  .nat-md-horizontal.nat-md-bottom {
    align-items: flex-end;
  }
  .nat-md-horizontal.nat-md-align {
    align-items: center;
  }
  .nat-md-horizontal.nat-md-left {
    justify-content: flex-start;
  }
  .nat-md-horizontal.nat-md-right {
    justify-content: flex-end;
  }
  .nat-md-horizontal.nat-md-distribute {
    justify-content: space-between;
  }
  .nat-md-horizontal > .nat-md-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-md-horizontal > .nat-md-expand-20 {
    max-width: 20%;
  }
  .nat-md-horizontal > .nat-md-expand-25 {
    max-width: 25%;
  }
  .nat-md-horizontal > .nat-md-expand-33 {
    max-width: 33%;
  }
  .nat-md-horizontal > .nat-md-expand-50 {
    max-width: 50%;
  }
  .nat-md-horizontal > .nat-md-expand-66 {
    max-width: 66%;
  }
  .nat-md-horizontal > .nat-md-expand-75 {
    max-width: 75%;
  }
  .nat-md-gap {
    gap: var(--natural-default-spacing);
  }
  .nat-md-gap-horizontal {
    column-gap: var(--natural-default-spacing);
  }
  .nat-md-gap-vertical {
    row-gap: var(--natural-default-spacing);
  }
  .nat-md-gap-0 {
    gap: 0px;
  }
  .nat-md-gap-horizontal-0 {
    column-gap: 0px;
  }
  .nat-md-gap-vertical-0 {
    row-gap: 0px;
  }
  .nat-md-gap-5 {
    gap: 5px;
  }
  .nat-md-gap-horizontal-5 {
    column-gap: 5px;
  }
  .nat-md-gap-vertical-5 {
    row-gap: 5px;
  }
  .nat-md-gap-10 {
    gap: 10px;
  }
  .nat-md-gap-horizontal-10 {
    column-gap: 10px;
  }
  .nat-md-gap-vertical-10 {
    row-gap: 10px;
  }
  .nat-md-gap-15 {
    gap: 15px;
  }
  .nat-md-gap-horizontal-15 {
    column-gap: 15px;
  }
  .nat-md-gap-vertical-15 {
    row-gap: 15px;
  }
  .nat-md-gap-20 {
    gap: 20px;
  }
  .nat-md-gap-horizontal-20 {
    column-gap: 20px;
  }
  .nat-md-gap-vertical-20 {
    row-gap: 20px;
  }
  .nat-md-gap-30 {
    gap: 30px;
  }
  .nat-md-gap-horizontal-30 {
    column-gap: 30px;
  }
  .nat-md-gap-vertical-30 {
    row-gap: 30px;
  }
  .nat-md-expand {
    flex: 1 1 0.000000001px;
  }
  [class*=nat-md-horizontal][class*=nat-md-gap] > * {
    margin-right: 0 !important;
  }
  [class*=nat-md-vertical][class*=nat-md-gap] > * {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 1280px) {
  .nat-lg-vertical {
    display: flex;
    flex-direction: column;
  }
  .nat-lg-vertical.nat-lg-top {
    justify-content: flex-start;
  }
  .nat-lg-vertical.nat-lg-bottom {
    justify-content: flex-end;
  }
  .nat-lg-vertical.nat-lg-left {
    align-items: flex-start;
  }
  .nat-lg-vertical.nat-lg-right {
    align-items: flex-end;
  }
  .nat-lg-vertical.nat-lg-align {
    align-items: center;
  }
  .nat-lg-vertical.nat-lg-distribute {
    justify-content: space-between;
  }
  .nat-lg-vertical > .nat-lg-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-lg-vertical > .nat-lg-expand-20 {
    max-height: 20%;
  }
  .nat-lg-vertical > .nat-lg-expand-25 {
    max-height: 25%;
  }
  .nat-lg-vertical > .nat-lg-expand-33 {
    max-height: 33%;
  }
  .nat-lg-vertical > .nat-lg-expand-50 {
    max-height: 50%;
  }
  .nat-lg-vertical > .nat-lg-expand-66 {
    max-height: 66%;
  }
  .nat-lg-vertical > .nat-lg-expand-75 {
    max-height: 75%;
  }
  .nat-lg-horizontal {
    display: flex;
    flex-direction: row;
  }
  .nat-lg-horizontal.nat-lg-top {
    align-items: flex-start;
  }
  .nat-lg-horizontal.nat-lg-bottom {
    align-items: flex-end;
  }
  .nat-lg-horizontal.nat-lg-align {
    align-items: center;
  }
  .nat-lg-horizontal.nat-lg-left {
    justify-content: flex-start;
  }
  .nat-lg-horizontal.nat-lg-right {
    justify-content: flex-end;
  }
  .nat-lg-horizontal.nat-lg-distribute {
    justify-content: space-between;
  }
  .nat-lg-horizontal > .nat-lg-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-lg-horizontal > .nat-lg-expand-20 {
    max-width: 20%;
  }
  .nat-lg-horizontal > .nat-lg-expand-25 {
    max-width: 25%;
  }
  .nat-lg-horizontal > .nat-lg-expand-33 {
    max-width: 33%;
  }
  .nat-lg-horizontal > .nat-lg-expand-50 {
    max-width: 50%;
  }
  .nat-lg-horizontal > .nat-lg-expand-66 {
    max-width: 66%;
  }
  .nat-lg-horizontal > .nat-lg-expand-75 {
    max-width: 75%;
  }
  .nat-lg-gap {
    gap: var(--natural-default-spacing);
  }
  .nat-lg-gap-horizontal {
    column-gap: var(--natural-default-spacing);
  }
  .nat-lg-gap-vertical {
    row-gap: var(--natural-default-spacing);
  }
  .nat-lg-gap-0 {
    gap: 0px;
  }
  .nat-lg-gap-horizontal-0 {
    column-gap: 0px;
  }
  .nat-lg-gap-vertical-0 {
    row-gap: 0px;
  }
  .nat-lg-gap-5 {
    gap: 5px;
  }
  .nat-lg-gap-horizontal-5 {
    column-gap: 5px;
  }
  .nat-lg-gap-vertical-5 {
    row-gap: 5px;
  }
  .nat-lg-gap-10 {
    gap: 10px;
  }
  .nat-lg-gap-horizontal-10 {
    column-gap: 10px;
  }
  .nat-lg-gap-vertical-10 {
    row-gap: 10px;
  }
  .nat-lg-gap-15 {
    gap: 15px;
  }
  .nat-lg-gap-horizontal-15 {
    column-gap: 15px;
  }
  .nat-lg-gap-vertical-15 {
    row-gap: 15px;
  }
  .nat-lg-gap-20 {
    gap: 20px;
  }
  .nat-lg-gap-horizontal-20 {
    column-gap: 20px;
  }
  .nat-lg-gap-vertical-20 {
    row-gap: 20px;
  }
  .nat-lg-gap-30 {
    gap: 30px;
  }
  .nat-lg-gap-horizontal-30 {
    column-gap: 30px;
  }
  .nat-lg-gap-vertical-30 {
    row-gap: 30px;
  }
  .nat-lg-expand {
    flex: 1 1 0.000000001px;
  }
  [class*=nat-lg-horizontal][class*=nat-lg-gap] > * {
    margin-right: 0 !important;
  }
  [class*=nat-lg-vertical][class*=nat-lg-gap] > * {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 1920px) {
  .nat-xl-vertical {
    display: flex;
    flex-direction: column;
  }
  .nat-xl-vertical.nat-xl-top {
    justify-content: flex-start;
  }
  .nat-xl-vertical.nat-xl-bottom {
    justify-content: flex-end;
  }
  .nat-xl-vertical.nat-xl-left {
    align-items: flex-start;
  }
  .nat-xl-vertical.nat-xl-right {
    align-items: flex-end;
  }
  .nat-xl-vertical.nat-xl-align {
    align-items: center;
  }
  .nat-xl-vertical.nat-xl-distribute {
    justify-content: space-between;
  }
  .nat-xl-vertical > .nat-xl-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-xl-vertical > .nat-xl-expand-20 {
    max-height: 20%;
  }
  .nat-xl-vertical > .nat-xl-expand-25 {
    max-height: 25%;
  }
  .nat-xl-vertical > .nat-xl-expand-33 {
    max-height: 33%;
  }
  .nat-xl-vertical > .nat-xl-expand-50 {
    max-height: 50%;
  }
  .nat-xl-vertical > .nat-xl-expand-66 {
    max-height: 66%;
  }
  .nat-xl-vertical > .nat-xl-expand-75 {
    max-height: 75%;
  }
  .nat-xl-horizontal {
    display: flex;
    flex-direction: row;
  }
  .nat-xl-horizontal.nat-xl-top {
    align-items: flex-start;
  }
  .nat-xl-horizontal.nat-xl-bottom {
    align-items: flex-end;
  }
  .nat-xl-horizontal.nat-xl-align {
    align-items: center;
  }
  .nat-xl-horizontal.nat-xl-left {
    justify-content: flex-start;
  }
  .nat-xl-horizontal.nat-xl-right {
    justify-content: flex-end;
  }
  .nat-xl-horizontal.nat-xl-distribute {
    justify-content: space-between;
  }
  .nat-xl-horizontal > .nat-xl-expand {
    flex: 1 1 0.000000001px;
  }
  .nat-xl-horizontal > .nat-xl-expand-20 {
    max-width: 20%;
  }
  .nat-xl-horizontal > .nat-xl-expand-25 {
    max-width: 25%;
  }
  .nat-xl-horizontal > .nat-xl-expand-33 {
    max-width: 33%;
  }
  .nat-xl-horizontal > .nat-xl-expand-50 {
    max-width: 50%;
  }
  .nat-xl-horizontal > .nat-xl-expand-66 {
    max-width: 66%;
  }
  .nat-xl-horizontal > .nat-xl-expand-75 {
    max-width: 75%;
  }
  .nat-xl-gap {
    gap: var(--natural-default-spacing);
  }
  .nat-xl-gap-horizontal {
    column-gap: var(--natural-default-spacing);
  }
  .nat-xl-gap-vertical {
    row-gap: var(--natural-default-spacing);
  }
  .nat-xl-gap-0 {
    gap: 0px;
  }
  .nat-xl-gap-horizontal-0 {
    column-gap: 0px;
  }
  .nat-xl-gap-vertical-0 {
    row-gap: 0px;
  }
  .nat-xl-gap-5 {
    gap: 5px;
  }
  .nat-xl-gap-horizontal-5 {
    column-gap: 5px;
  }
  .nat-xl-gap-vertical-5 {
    row-gap: 5px;
  }
  .nat-xl-gap-10 {
    gap: 10px;
  }
  .nat-xl-gap-horizontal-10 {
    column-gap: 10px;
  }
  .nat-xl-gap-vertical-10 {
    row-gap: 10px;
  }
  .nat-xl-gap-15 {
    gap: 15px;
  }
  .nat-xl-gap-horizontal-15 {
    column-gap: 15px;
  }
  .nat-xl-gap-vertical-15 {
    row-gap: 15px;
  }
  .nat-xl-gap-20 {
    gap: 20px;
  }
  .nat-xl-gap-horizontal-20 {
    column-gap: 20px;
  }
  .nat-xl-gap-vertical-20 {
    row-gap: 20px;
  }
  .nat-xl-gap-30 {
    gap: 30px;
  }
  .nat-xl-gap-horizontal-30 {
    column-gap: 30px;
  }
  .nat-xl-gap-vertical-30 {
    row-gap: 30px;
  }
  .nat-xl-expand {
    flex: 1 1 0.000000001px;
  }
  [class*=nat-xl-horizontal][class*=nat-xl-gap] > * {
    margin-right: 0 !important;
  }
  [class*=nat-xl-vertical][class*=nat-xl-gap] > * {
    margin-bottom: 0 !important;
  }
}
/**
 Use only when there is not another visibility class (nat-xx-show)
 */
.nat-hide {
  display: none !important;
}

@media screen and (min-width: 600px) {
  .nat-sm-hide {
    display: none !important;
  }
}
@media screen and (max-width: 599.8px ) {
  .nat-sm-show {
    display: none !important;
  }
}
@media screen and (min-width: 960px) {
  .nat-md-hide {
    display: none !important;
  }
}
@media screen and (max-width: 959.8px ) {
  .nat-md-show {
    display: none !important;
  }
}
@media screen and (min-width: 1280px) {
  .nat-lg-hide {
    display: none !important;
  }
}
@media screen and (max-width: 1279.8px ) {
  .nat-lg-show {
    display: none !important;
  }
}
@media screen and (min-width: 1920px) {
  .nat-xl-hide {
    display: none !important;
  }
}
@media screen and (max-width: 1919.8px ) {
  .nat-xl-show {
    display: none !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 959.8px ) {
  .nat-sm-only-hide {
    display: none;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279.8px ) {
  .nat-md-only-hide {
    display: none;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919.8px ) {
  .nat-lg-only-hide {
    display: none;
  }
}
html {
  --natural-default-spacing: 20px;
}

/*# sourceMappingURL=natural-layout.css.map */
