.nat-show {
  display: block;
}

.nat-hide {
  display: none;
}

@media screen and (min-width: 600px) {
  .sm-nat-show {
    display: block;
  }
  .sm-nat-hide {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .md-nat-show {
    display: block;
  }
  .md-nat-hide {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .lg-nat-show {
    display: block;
  }
  .lg-nat-hide {
    display: none;
  }
}
@media screen and (min-width: 1920px) {
  .xl-nat-show {
    display: block;
  }
  .xl-nat-hide {
    display: none;
  }
}
.nat-padding {
  padding: var(--natural-default-spacing) !important;
}

.nat-padding-horizontal {
  padding-left: var(--natural-default-spacing) !important;
  padding-right: var(--natural-default-spacing) !important;
}

.nat-padding-bottom {
  padding-bottom: var(--natural-default-spacing) !important;
}

.nat-padding-top {
  padding-top: var(--natural-default-spacing) !important;
}

.nat-padding-right {
  padding-right: var(--natural-default-spacing) !important;
}

.nat-padding-left {
  padding-left: var(--natural-default-spacing) !important;
}

.nat-padding-vertical {
  padding-top: var(--natural-default-spacing) !important;
  padding-bottom: var(--natural-default-spacing) !important;
}

.nat-no-padding {
  padding: 0 !important;
}

.nat-no-padding-vertical {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.nat-no-padding-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nat-no-padding-right {
  padding-right: 0 !important;
}

.nat-no-padding-top {
  padding-top: 0 !important;
}

.nat-no-padding-left {
  padding-left: 0 !important;
}

.nat-no-padding-bottom {
  padding-bottom: 0 !important;
}

.nat-margin {
  margin: var(--natural-default-spacing) !important;
}

.nat-margin-top {
  margin-top: var(--natural-default-spacing) !important;
}

.nat-margin-bottom {
  margin-bottom: var(--natural-default-spacing) !important;
}

.nat-margin-right {
  margin-right: var(--natural-default-spacing) !important;
}

.nat-margin-left {
  margin-left: var(--natural-default-spacing) !important;
}

.nat-margin-horizontal {
  margin-left: var(--natural-default-spacing) !important;
  margin-right: var(--natural-default-spacing) !important;
}

.nat-margin-vertical {
  margin-top: var(--natural-default-spacing) !important;
  margin-bottom: var(--natural-default-spacing) !important;
}

.nat-no-margin {
  margin: 0 !important;
}

.nat-no-margin-vertical {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.nat-no-margin-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.nat-no-margin-right {
  margin-right: 0 !important;
}

.nat-no-margin-top {
  margin-top: 0 !important;
}

.nat-no-margin-left {
  margin-left: 0 !important;
}

.nat-no-margin-bottom {
  margin-bottom: 0 !important;
}

.nat-fill {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

:not(.nat-horizontal):not(.nat-vertical).nat-center {
  display: grid;
  place-content: center center;
}

.nat-vertical {
  display: flex;
  flex-direction: column;
}
.nat-vertical.nat-top {
  justify-content: flex-start;
}
.nat-vertical.nat-bottom {
  justify-content: flex-end;
}
.nat-vertical.nat-left {
  align-items: flex-start;
}
.nat-vertical.nat-right {
  align-items: flex-end;
}
.nat-vertical.nat-distribute {
  justify-content: space-between;
}

.nat-horizontal {
  display: flex;
  flex-direction: row;
}
.nat-horizontal.nat-top {
  align-items: flex-start;
}
.nat-horizontal.nat-bottom {
  align-items: flex-end;
}
.nat-horizontal.nat-left {
  justify-content: flex-start;
}
.nat-horizontal.nat-right {
  justify-content: flex-end;
}
.nat-horizontal.nat-distribute {
  justify-content: space-between;
}

.nat-horizontal.wrap,
.nat-vertical.wrap {
  flex-wrap: wrap;
}
.nat-horizontal.wrap-reverse,
.nat-vertical.wrap-reverse {
  flex-wrap: wrap-reverse;
}
.nat-horizontal.nat-center,
.nat-vertical.nat-center {
  align-items: center;
  justify-content: center;
}

.nat-gap {
  gap: var(--natural-default-spacing);
}
.nat-gap-1 {
  gap: 1px;
}
.nat-gap-5 {
  gap: 5px;
}
.nat-gap-10 {
  gap: 10px;
}
.nat-gap-15 {
  gap: 15px;
}
.nat-gap-20 {
  gap: 20px;
}
.nat-gap-30 {
  gap: 30px;
}
.nat-gap-50 {
  gap: 50px;
}

.nat-expand {
  flex: 1;
}
.nat-expand-20 {
  flex: 20;
}
.nat-expand-25 {
  flex: 25;
}
.nat-expand-33 {
  flex: 33;
}
.nat-expand-50 {
  flex: 50;
}
.nat-expand-66 {
  flex: 66;
}

@media screen and (min-width: 600px) {
  .sm-nat-vertical {
    display: flex;
    flex-direction: column;
  }
  .sm-nat-horizontal {
    display: flex;
    flex-direction: row;
  }
  .sm-nat-gap {
    gap: var(--natural-default-spacing);
  }
  .sm-nat-gap-1 {
    gap: 1px;
  }
  .sm-nat-gap-5 {
    gap: 5px;
  }
  .sm-nat-gap-10 {
    gap: 10px;
  }
  .sm-nat-gap-15 {
    gap: 15px;
  }
  .sm-nat-gap-20 {
    gap: 20px;
  }
  .sm-nat-gap-30 {
    gap: 30px;
  }
  .sm-nat-gap-50 {
    gap: 50px;
  }
  .sm-nat-expand {
    flex: 1;
  }
  .sm-nat-expand-20 {
    flex: 20;
  }
  .sm-nat-expand-25 {
    flex: 25;
  }
  .sm-nat-expand-33 {
    flex: 33;
  }
  .sm-nat-expand-50 {
    flex: 50;
  }
  .sm-nat-expand-66 {
    flex: 66;
  }
}
@media screen and (min-width: 960px) {
  .md-nat-vertical {
    display: flex;
    flex-direction: column;
  }
  .md-nat-horizontal {
    display: flex;
    flex-direction: row;
  }
  .md-nat-gap {
    gap: var(--natural-default-spacing);
  }
  .md-nat-gap-1 {
    gap: 1px;
  }
  .md-nat-gap-5 {
    gap: 5px;
  }
  .md-nat-gap-10 {
    gap: 10px;
  }
  .md-nat-gap-15 {
    gap: 15px;
  }
  .md-nat-gap-20 {
    gap: 20px;
  }
  .md-nat-gap-30 {
    gap: 30px;
  }
  .md-nat-gap-50 {
    gap: 50px;
  }
  .md-nat-expand {
    flex: 1;
  }
  .md-nat-expand-20 {
    flex: 20;
  }
  .md-nat-expand-25 {
    flex: 25;
  }
  .md-nat-expand-33 {
    flex: 33;
  }
  .md-nat-expand-50 {
    flex: 50;
  }
  .md-nat-expand-66 {
    flex: 66;
  }
}
@media screen and (min-width: 1280px) {
  .lg-nat-vertical {
    display: flex;
    flex-direction: column;
  }
  .lg-nat-horizontal {
    display: flex;
    flex-direction: row;
  }
  .lg-nat-gap {
    gap: var(--natural-default-spacing);
  }
  .lg-nat-gap-1 {
    gap: 1px;
  }
  .lg-nat-gap-5 {
    gap: 5px;
  }
  .lg-nat-gap-10 {
    gap: 10px;
  }
  .lg-nat-gap-15 {
    gap: 15px;
  }
  .lg-nat-gap-20 {
    gap: 20px;
  }
  .lg-nat-gap-30 {
    gap: 30px;
  }
  .lg-nat-gap-50 {
    gap: 50px;
  }
  .lg-nat-expand {
    flex: 1;
  }
  .lg-nat-expand-20 {
    flex: 20;
  }
  .lg-nat-expand-25 {
    flex: 25;
  }
  .lg-nat-expand-33 {
    flex: 33;
  }
  .lg-nat-expand-50 {
    flex: 50;
  }
  .lg-nat-expand-66 {
    flex: 66;
  }
}
@media screen and (min-width: 1920px) {
  .xl-nat-vertical {
    display: flex;
    flex-direction: column;
  }
  .xl-nat-horizontal {
    display: flex;
    flex-direction: row;
  }
  .xl-nat-gap {
    gap: var(--natural-default-spacing);
  }
  .xl-nat-gap-1 {
    gap: 1px;
  }
  .xl-nat-gap-5 {
    gap: 5px;
  }
  .xl-nat-gap-10 {
    gap: 10px;
  }
  .xl-nat-gap-15 {
    gap: 15px;
  }
  .xl-nat-gap-20 {
    gap: 20px;
  }
  .xl-nat-gap-30 {
    gap: 30px;
  }
  .xl-nat-gap-50 {
    gap: 50px;
  }
  .xl-nat-expand {
    flex: 1;
  }
  .xl-nat-expand-20 {
    flex: 20;
  }
  .xl-nat-expand-25 {
    flex: 25;
  }
  .xl-nat-expand-33 {
    flex: 33;
  }
  .xl-nat-expand-50 {
    flex: 50;
  }
  .xl-nat-expand-66 {
    flex: 66;
  }
}
html {
  --natural-default-spacing: 20px;
}

/*# sourceMappingURL=natural-layout.css.map */
