.nat-padding {
    padding: var(--natural-default-spacing) !important;
}

.nat-padding-horizontal {
    padding-left: var(--natural-default-spacing) !important;
    padding-right: var(--natural-default-spacing) !important;
}

.nat-padding-bottom {
    padding-bottom: var(--natural-default-spacing) !important;
}

.nat-padding-top {
    padding-top: var(--natural-default-spacing) !important;
}

.nat-padding-right {
    padding-right: var(--natural-default-spacing) !important;
}

.nat-padding-left {
    padding-left: var(--natural-default-spacing) !important;
}

.nat-padding-vertical {
    padding-top: var(--natural-default-spacing) !important;
    padding-bottom: var(--natural-default-spacing) !important;
}

.nat-no-padding {
    padding: 0 !important;
}

.nat-no-padding-vertical {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.nat-no-padding-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.nat-no-padding-right {
    padding-right: 0 !important;
}

.nat-no-padding-top {
    padding-top: 0 !important;
}

.nat-no-padding-left {
    padding-left: 0 !important;
}

.nat-no-padding-bottom {
    padding-bottom: 0 !important;
}

.nat-margin {
    margin: var(--natural-default-spacing) !important;
}

.nat-margin-top {
    margin-top: var(--natural-default-spacing) !important;
}

.nat-margin-bottom {
    margin-bottom: var(--natural-default-spacing) !important;
}

.nat-margin-right {
    margin-right: var(--natural-default-spacing) !important;
}

.nat-margin-left {
    margin-left: var(--natural-default-spacing) !important;
}

.nat-margin-horizontal {
    margin-left: var(--natural-default-spacing) !important;
    margin-right: var(--natural-default-spacing) !important;
}

.nat-margin-vertical {
    margin-top: var(--natural-default-spacing) !important;
    margin-bottom: var(--natural-default-spacing) !important;
}

.nat-no-margin {
    margin: 0 !important;
}

.nat-no-margin-vertical {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.nat-no-margin-horizontal {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.nat-no-margin-right {
    margin-right: 0 !important;
}

.nat-no-margin-top {
    margin-top: 0 !important;
}

.nat-no-margin-left {
    margin-left: 0 !important;
}

.nat-no-margin-bottom {
    margin-bottom: 0 !important;
}
