@use 'variables';
@use 'mixins';

.nat-fill {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}

.nat-wrap {
    flex-wrap: wrap;
}

.nat-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.nat-center {
    align-items: center;
    justify-content: center;
}

@mixin nat-gap() {
    gap: var(--natural-default-spacing);

    &-horizontal {
        column-gap: var(--natural-default-spacing);
    }
    &-vertical {
        row-gap: var(--natural-default-spacing);
    }

    $gapsPx: 0, 5, 10, 15, 20, 30;
    @each $gap in $gapsPx {
        &-#{$gap} {
            gap: #{$gap}px;
        }
        &-horizontal-#{$gap} {
            column-gap: #{$gap}px;
        }
        &-vertical-#{$gap} {
            row-gap: #{$gap}px;
        }
    }
}

@mixin nat-expand($orientation) {
    flex: 1 1 1e-9px;

    $expands: 20, 25, 33, 50, 66, 75;
    @each $expand in $expands {
        &-#{$expand} {
            max-#{$orientation}: calc($expand * 1%);
        }
    }
}

@mixin nat-vertical($size) {
    display: flex;
    flex-direction: column;

    &.nat#{$size}-top {
        justify-content: flex-start;
    }

    &.nat#{$size}-bottom {
        justify-content: flex-end;
    }

    &.nat#{$size}-left {
        align-items: flex-start;
    }

    &.nat#{$size}-right {
        align-items: flex-end;
    }

    &.nat#{$size}-align {
        align-items: center;
    }

    &.nat#{$size}-distribute {
        justify-content: space-between;
    }

    & > .nat#{$size}-expand {
        @include nat-expand('height');
    }
}

.nat-vertical {
    @include nat-vertical('');
    @each $key, $value in variables.$breakpoints {
        @include mixins.media($key) {
            & > .nat-#{$key}-expand {
                @include nat-expand('height');
            }
        }
    }
}

@mixin nat-horizontal($size) {
    display: flex;
    flex-direction: row;

    &.nat#{$size}-top {
        align-items: flex-start;
    }

    &.nat#{$size}-bottom {
        align-items: flex-end;
    }

    &.nat#{$size}-align {
        align-items: center;
    }

    &.nat#{$size}-left {
        justify-content: flex-start;
    }

    &.nat#{$size}-right {
        justify-content: flex-end;
    }

    &.nat#{$size}-distribute {
        justify-content: space-between;
    }

    & > .nat#{$size}-expand {
        @include nat-expand('width');
    }
}

.nat-horizontal {
    @include nat-horizontal('');

    @each $key, $value in variables.$breakpoints {
        @include mixins.media($key) {
            & > .nat-#{$key}-expand {
                @include nat-expand('width');
            }
        }
    }
}

.nat-gap {
    @include nat-gap();
}

/**
All nat-expand and nat-xx-expand is border box
 */
[class*='-expand'] {
    box-sizing: border-box;
}

/**
All no 100% nat-expand-xx and nat-xx-expand-yy
 */
[class*='expand-'] {
    flex: 1 1 100%;
}

.nat-expand {
    flex: 1 1 1e-9px;
}

.nat-expand-no-collapse {
    flex: 1 0 auto;
}

.nat-no-collapse {
    min-width: fit-content;
}

.nat-no-expand {
    flex-grow: 0;
}

/* attribute selector allows to abstract gap sizes nat-gap-15 */
[class*='nat-horizontal'][class*='nat-gap'] > * {
    margin-right: 0 !important;
}

[class*='nat-vertical'][class*='nat-gap'] > * {
    margin-bottom: 0 !important;
}

@each $key, $value in variables.$breakpoints {
    @include mixins.media($key) {
        .nat-#{$key}-vertical {
            @include nat-vertical('-#{$key}');
        }

        .nat-#{$key}-horizontal {
            @include nat-horizontal('-#{$key}');
        }

        .nat-#{$key}-gap {
            @include nat-gap();
        }

        .nat-#{$key}-expand {
            flex: 1 1 1e-9px;
        }

        [class*='nat-#{$key}-horizontal'][class*='nat-#{$key}-gap'] > * {
            margin-right: 0 !important;
        }

        [class*='nat-#{$key}-vertical'][class*='nat-#{$key}-gap'] > * {
            margin-bottom: 0 !important;
        }
    }
}
