@use 'variables';
@use 'sass:meta';

@function map-get-strict($map, $key) {
    @if map-has-key($map, $key) {
        @return map-get($map, $key);
    } @else {
        @error "Specified key '#{$key}' does not exist in the map";
    }
}

// Return breakpoint value if exists or given number
@function get-size($value) {
    $type: type-of($value);

    @if ($type == number) {
        @return $value;
    } @else if ($type == string) {
        @return map-get-strict(variables.$breakpoints, $value);
    }

    @error "Specified value '#{$value}' must be number or valid breakpoint key";
}

/**
Get from starting size/breakpoint to ending $size/breakpoint (excluding it).
 */
@mixin media($start: null, $end: null) {

    $query: "";
    @if $start != null {
        $query: $query + " and (min-width: #{get-size($start)})";
    }

    @if $end != null {
        $query: $query + " and (max-width: #{get-size($end) - 0.2} )";
    }

    @media screen #{$query} {
        @content;
    }
}
