@use 'variables';
@use 'responsive';
@use 'mixins';

.nat-fill {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}

@mixin nat-vertical() {
    display: flex;
    flex-direction: column;
}

@mixin nat-horizontal() {
    display: flex;
    flex-direction: row;
}

.nat-wrap {
    flex-wrap: wrap;
}

.nat-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.nat-center {
    align-items: center;
    justify-content: center;
}

@mixin nat-center() {
    display: grid;
    place-content: center center;
}

:not(.nat-horizontal):not(.nat-vertical).nat-center {
    @include nat-center();
}

@mixin nat-gap() {
    gap: var(--natural-default-spacing);

    &-1 {
        gap: 1px;
    }

    &-5 {
        gap: 5px;
    }

    &-10 {
        gap: 10px;
    }

    &-15 {
        gap: 15px;
    }

    &-20 {
        gap: 20px;
    }

    &-30 {
        gap: 30px;
    }

    &-50 {
        gap: 50px;
    }
}

@mixin nat-expand() {
    flex: 1;

    &-20 {
        flex: 20;
    }

    &-25 {
        flex: 25;
    }

    &-33 {
        flex: 33;
    }

    &-50 {
        flex: 50;
    }

    &-66 {
        flex: 66;
    }
}

.nat-vertical {
    @include nat-vertical();

    &.nat-top {
        justify-content: flex-start;
    }

    &.nat-bottom {
        justify-content: flex-end;
    }

    &.nat-left {
        align-items: flex-start;
    }

    &.nat-right {
        align-items: flex-end;
    }

    &.nat-distribute {
        justify-content: space-between;
    }

    &.nat-baseline {
        align-items: baseline;
    }
}

.nat-horizontal {
    @include nat-horizontal();

    &.nat-top {
        align-items: flex-start;
    }

    &.nat-bottom {
        align-items: flex-end;
    }

    &.nat-left {
        justify-content: flex-start;
    }

    &.nat-right {
        justify-content: flex-end;
    }

    &.nat-distribute {
        justify-content: space-between;
    }

    &.nat-baseline {
        align-items: baseline;
    }
}

.nat-gap {
    @include nat-gap();
}

.nat-expand {
    @include nat-expand();
}

@each $key, $value in variables.$breakpoints {
    @include mixins.media($key) {
        .nat-#{$key}-vertical {
            @include nat-vertical();
        }

        .nat-#{$key}-horizontal {
            @include nat-horizontal();
        }

        .nat-#{$key}-gap {
            @include nat-gap();
        }

        .nat-#{$key}-expand {
            @include nat-expand();
        }
    }
}
