@use 'variables';
@use 'mixins';

.nat-show {
    display: block;
}

.nat-hide {
    display: none;
}

@each $key, $value in variables.$breakpoints {
    @include mixins.gte($key) {
        .#{$key}-nat-show {
            display: block;
        }
        .#{$key}-nat-hide {
            display: none;
        }
    }
}
