@use 'variables';
@use 'mixins';

/**
 Use only when there is not another visibility class (nat-xx-show)
 */
.nat-hide {
    display: none !important;
}

@each $key, $value in variables.$breakpoints {
    @include mixins.media($key) {
        .nat-#{$key}-hide {
            display: none !important;
        }
    }

    @include mixins.media(null, $key) {
        .nat-#{$key}-show {
            display: none !important;
        }
    }
}

@include mixins.media(sm, md) {
    .nat-sm-only-hide {
        display: none;
    }
}

@include mixins.media(md, lg) {
    .nat-md-only-hide {
        display: none;
    }
}

@include mixins.media(lg, xl) {
    .nat-lg-only-hide {
        display: none;
    }
}
