@use 'variables';
@use 'mixins';

@mixin hide() {
    position: absolute;
    clip: rect(0 0 0 0);
    pointer-events: none;
    left: -9999999vw;
}

@mixin show() {
    position: static;
    clip: auto;
    pointer-events: auto;
    left: auto;
}

.nat-show {
    @include show();
}

.nat-hide {
    @include hide();
}

@include mixins.media(null, sm) {
    .nat-hide-xs-only {
        display: none !important;
    }
}

@each $key, $value in variables.$breakpoints {
    @include mixins.media($key) {
        .nat-#{$key}-show {
            @include show();
        }

        .nat-#{$key}-hide {
            @include hide();
        }
    }
}
